    <div class="container">

      <div class="row input-div" >
        <input type="text" class="col-sm-7" placeholder="" [(ngModel)]="newWishText">
        <button type="button" class="btn btn-primary col-sm-3" name="new-wish-text" (click)="$event.preventDefault(); addNewWish()">Wish</button>
      </div>
      <select class="form-select" [(ngModel)]="filteredValue" >
        <option value="0">All</option>
        <option value="1">Fulfiled</option>
        <option value="2">Unfulfiled</option>
      </select>
      <div *ngIf="visibleItems.length === 0; else showItems">There are no wishes</div>
      
      <ng-template #showItems>
        <ul class="wish-list">
          <li *ngFor="let item of visibleItems; index as i">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" [id]="i" [checked]="item.isDone" [attr.data-index]="i" (click)="toggleItem(item)">
              <label class="form-check-label" [for]="i" >
                {{item.wishText}}
              </label>
            </div>
          </li>
        </ul>
      </ng-template>
      
        
    </div>
    

